__pycache__/
*.pyc
carnet.txt
*.svg
baobab_lang.egg-info/
*.egg-info/
livre_or.txt
visites.txt
dist/
node_modules/
notes.db
test_notes.db
eleves.json
eleves.csv
__pycache__/
*.pyc
docteur*
*.avant_*
patch_*.py
controle.sh
installer.sh
LISEZ-MOI.txt
carte.bao
jeeue.bao
build/
dist/
